tools/gpxdata10.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.cluetrust.com/XML/GPXDATA/1/0" xmlns:gpx="http://www.topografix.com/GPX/1/1"
	targetNamespace="http://www.cluetrust.com/XML/GPXDATA/1/0" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>
			The GPXData schema is an mix-in schema for use with the GPX 1.1 schema from Topografix.  It was designed with the intent of
			expanding GPX (using the existing mechanisms) to contain additional content from GPS receivers commonly used for sporting and
			geocaching activities.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.topografix.com/GPX/1/1"
		schemaLocation="http://www.topografix.com/GPX/1/1/gpx.xsd"/>
	
	<xsd:element name="hr" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>
				HR represents the heart rate in beats per minute.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="cadence" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>
				Cadence represents the cadence in revolutions per minute.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="temp" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>
				Temp represents the temperature in degrees celcius
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="distance" type="distanceType">
		<xsd:annotation><xsd:documentation>Distance in meters as measured by GPS or wheel sensor</xsd:documentation></xsd:annotation>
	</xsd:element>
	<xsd:element name="sensor" type="sensorType">
		<xsd:annotation><xsd:documentation>Set if there is a sensor present</xsd:documentation></xsd:annotation>
	</xsd:element>
	<xsd:element name="run" type="runType">
		<xsd:annotation><xsd:documentation>On devices that have the concept of a run, the run encapsulates laps and provides overall summary information</xsd:documentation></xsd:annotation>
	</xsd:element>
	<xsd:element name="dataPt" type="dataPointType">
		<xsd:annotation><xsd:documentation>Added if there is data available that doesn't have position information</xsd:documentation></xsd:annotation>
	</xsd:element>
	<xsd:element name="lap" type="lapType">
		<xsd:annotation>
			<xsd:documentation>
				Lap is used to contain information about an individual lap of activity.
				Depending upon the device, this may contain a variety of additional information.
				Depending upon the device, this may be contained within a run or course.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="course" type="courseType">
		<xsd:annotation>
			<xsd:documentation>
				Course is used to contain additional information about a course downloaded to the GPS as a track.
				Depending on the device, this may be uploaded as part of the data or left empty.
				Always appears in a track.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="dataPointType">
		<xsd:annotation>
			<xsd:documentation>
				dataPt is used to store information about non-geographic data point.  This is useful when HR or other
				data is present, but no latitude or longitude data is.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="time" type="xsd:dateTime"/>
			<xsd:element name="ele" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="hr" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="cadence" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="temp" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="distance" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="sensor" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="runType">
		<xsd:sequence>
			<xsd:element name="sport" type="sportType" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>The type of sport being participated in</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="programType" type="xsd:anySimpleType" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>The type of program being executed</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="laps" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>Group of laps that make up the run</xsd:documentation></xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="lap" type="lapType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="courseType">
		<xsd:sequence>
			<xsd:element name="index" type="xsd:int" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>Index of the course in the GPS.</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="laps" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>Group of laps that make up the course</xsd:documentation></xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="lap" type="lapType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lapType">
		<xsd:sequence>
			<xsd:element name="index" type="xsd:int" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>The index of the lap in the internal list.</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="startPoint" type="locationType" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>The starting point of the lap in Lat/Long</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="endPoint" type="locationType" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>The ending point of the lap in Lat/Long</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="startTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>The starting time of the lap</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="elapsedTime" type="xsd:float" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>The total elapsed time of the lap in seconds</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="calories" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>The number of calories burned during the lap</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="distance" type="xsd:float" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>Distance (in m) covered during the lap</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="trackReference" type="trackReferenceType" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>Reference information for the track which corresponds to this lap</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="summary" type="summaryType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation><xsd:documentation>Performance summary elements summarizing different performance measurements, such as cadence, hr, etc.</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="trigger" type="triggerType" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>The trigger of the lap.  On some devices, the lap may be manual or automatic based on attributes known by the device.</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="intensity" type="intensityKind" minOccurs="0" maxOccurs="1">
				<xsd:annotation><xsd:documentation>The intensity of the lap (whether resting or active)</xsd:documentation></xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="sportType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="bike"/>
			<xsd:enumeration value="run"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="distanceType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="sensor" use="optional" type="sensorKind"></xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="sensorType">
		<xsd:attribute name="kind" use="required" type="sensorKind"/>
	</xsd:complexType>
	<xsd:simpleType name="sensorKind">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="wheel"/>
			<xsd:enumeration value="pedometer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="summaryType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="name" use="required" type="xsd:string"/>
				<xsd:attribute name="kind" use="required" type="summaryKind"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="summaryKind">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="max"/>
			<xsd:enumeration value="min"/>
			<xsd:enumeration value="avg"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="triggerType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:anySimpleType">
				<xsd:attribute name="kind" use="required" type="triggerKind"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="triggerKind">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="manual"/>
			<xsd:enumeration value="time"/>
			<xsd:enumeration value="distance"/>
			<xsd:enumeration value="location"/>
			<xsd:enumeration value="hr"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="intensityKind">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="rest"/>
			<xsd:enumeration value="active"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="locationType">
		<xsd:attribute name="lat" use="required" type="gpx:latitudeType"/>
		<xsd:attribute name="lon" use="required" type="gpx:longitudeType"/>
	</xsd:complexType>
	<xsd:complexType name="trackReferenceType">
		<xsd:sequence>
			<xsd:element name="startPoint" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation><xsd:documentation>Index into the referenced track of the point that this lap starts on</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="endPoint" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation><xsd:documentation>Index into the referenced track of the point that this lap starts on</xsd:documentation></xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="trackNumber" type="xsd:nonNegativeInteger" use="optional">
			<xsd:annotation><xsd:documentation>Reference by number to the track (matches number)</xsd:documentation></xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="trackName" type="xsd:string" use="optional">
			<xsd:annotation><xsd:documentation>Reference by name to the track (matches name)</xsd:documentation></xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
